body {
    background-color: #f0f2f5;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}


nav {
    margin-top: 10px;
}

nav a {
    color: #3498db;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #2980b9;
    text-decoration: underline;
}

main {
    width: 80%;           /* გვერდის სიგანის 80% */
    margin: 20px auto;    /* ცენტრში გასასწორებლად */
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
}


.gallery {
    text-align: center;
}

.image-container {
    display: inline-block;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.image-container img {
    width: 250px;
    height: 150px;
}


form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #27ae60; /* მწვანე ღილაკი */
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #219150;
}


footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #777;
}