{% extends "base.html" %}

{% block content %}
    <div class="container-md bg-white py-1 shadow-lg rounded-4" >
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="mb-1">
                {{ form.name.label }}
                {{ form.name(class="form-control") }}

            </div>
            <div class="mb-1">
                {{ form.price.label }}
                {{ form.price(class="form-control") }}
            </div>
            <div class="mb-1">
                {{ form.img.label }}
                {{ form.img(class="form-control") }}
            </div>

            {{ form.submit(class="btn btn-success mt-2") }}
        </form>

    </div>

{% endblock %}
